/**
 * Custom CSS for the Last.fm Now Playing module.
 */

#block-lastfm-now-playing-0 .album-cover {
  float: left;
  margin: 0 1em 0.5em 0;
}

#block-lastfm-now-playing-0 .link {
  text-align: right;
}

